* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #FFFFFF;
    padding: 0% 5% 5% 5%;
    font-family: 'Open Sans', sans-serif;
    min-width: 380px;
    min-height: 680px;
}

section {
    padding: 2%;
    background: #F5F6F9;
    border-radius: 25px;
    margin-top: 2%;
}

section h2{
    color: #313140;
    text-align: center;
    margin: 1% 0 2% 0;
}

.topHeader {
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*margin-bottom: 20%;*/
    min-width: 500px;
    margin: 2% 0 2% 0;
}

.topHeader #logoContainer {
    max-width: 28%;
    float: left;
    cursor: pointer;
}

#logoContainer img {
    width: 100%;
    min-width: 180px;
    max-width: 300px;
}

.topHeader #navMenu, .topHeader #navMenuLogged{
    width: 60%;
    float: right;
    text-align: right;
    display: block;
}

.topHeader #navMenuLogged{
    width: 70%;
}

.topHeader button, #logoContainer {
    text-decoration: none;
    font-size: 100%;
}

.topHeader button.icon {
    display: none;
}

button.icon {
    background: red;
}

#btnLogin, #btnSignUp, #navMenuLogged button {
    cursor: pointer;
    border: 0;
    /*border-radius: 4px;*/
    font-weight: 600;
    margin: 0 0 0 10px;
    width: 30%;
    max-width: 250px;
    padding: 10px 0;
    /*box-shadow: 0 0 20px rgba(49, 49, 64, 0.2);*/
    transition: 0.4s;
}

#btnSignUp {
    color: white;
    background-color: rgba(255, 69, 57, 1);
    border-radius: 12px;
}

#btnLogin{
    color: rgb(255, 69, 54);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 69, 57, 1);
    border-radius: 12px;
}

.topHeader #navMenuLogged button{
    color: #313140;
    background-color: transparent;
    border: 1px solid rgba(49, 49, 64, 1);
    border-radius: 12px
}

#navMenuLogged button:hover{
    background-color: rgba(49, 49, 64, 0.1);
}

#navMenuLogged button:hover>i{
    color: rgb(255, 69, 54);
}

#btnLogin:hover, #btnSignUp:hover {
    color: white;
    box-shadow: 0 0 20px rgba(255, 69, 57, 0.6);
    background-color: rgba(255, 69, 57, 1);
}

.flow-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-flow{
    display: block;
    /*width: 240px;*/
    width: 200px;
    height: 80px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
    margin: 5%;
}

.btn-back {
    color: rgb(255, 255, 255);
    background-color: #313140;
    border: 2px solid rgba(49, 49, 64, 1);
}

.btn-next{
    background-color: #FF4539;
    color: #fff;
}


.btn-back:hover {
    transform: rotateY(15deg);
    box-shadow: -15px 0 15px rgba(49, 49, 64, 0.25);
}

.btn-next:hover {
    transform: rotateY(-15deg);
    box-shadow: 15px 0 15px rgba(255, 69, 57, 0.25);
}


.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 2%;
    text-align: center;
    border-radius: 30px;
    padding: 2%;
    min-width: 200px;


    /*box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);

     */
    box-shadow: 3px 3px 15px 4px rgba(49, 49, 64, 0.25), -3px -3px 15px 4px rgba(49, 49, 64, 0.22);
    /*box-shadow: 3px 3px 15px 4px rgba(255, 69, 57, 0.25), -3px -3px 15px 4px rgba(255, 69, 57, 0.22);*/
    cursor: pointer;
    transition: 0.4s;
}

.card .card_title {
    text-align: center;
    color: #313140;
   /* border-radius: 0px 0px 40px 40px;*/
    font-weight: bold;
    font-size: 25px;
    height:100%;

}

.card:hover {
    transform: scale(0.9, 0.9);
    /*box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);*/
    box-shadow: 3px 3px 15px 4px rgba(255, 69, 57, 0.25), -3px -3px 15px 4px rgba(255, 69, 57, 0.22);
}

.grid-lessons{
    width: 100%;
}

.grid-lessons thead th{
    padding: 40px 0 40px 0;
    border-left: 1px solid #313140;
    border-bottom: 1px solid #313140;
    border-top: 1px solid #313140;
}

.last-column-cells{
    border-right: 1px solid #313140;
}

.grid-lessons tr{
    width: 100%;
}

.grid-lessons tbody th{
    width: 8%;
    background: white;
    border-left: 1px solid #313140;
    border-bottom: 1px solid #313140;
}

.grid-lessons tbody td{
    text-align: center;
    width: 16%;
    border-left: 1px solid #313140;
    border-bottom: 1px solid #313140;
}

.grid-lessons tbody td p{
    min-width: 100%;
}

.grid-lessons tbody td p span{
    user-select: none;
    min-width: 100%;
    height: 100px;
    display: block;
    overflow: hidden;
}

.lesson-available:hover{
    background: #81B451;
    color: #81B451;
    cursor: pointer;
}

.lesson-available:focus{
    background: #008080;
    color: #008080;
}

.lesson-available{
    width: 100%;
    background: #7EC937;
    color: #7EC937;
}

.lesson-booked {
    color: transparent;
    background: repeating-linear-gradient(
            60deg,
            transparent,
            transparent 10px,
            #515164 10px,
            transparent 20px
    ),
    linear-gradient(
            to bottom,
            #F5F6F9,
            transparent
    )
}

.booking-summary{
    max-width: 600px;
    margin: auto;
}

.booking-summary p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-weight: 600;
    font-size: large;
    color: #313140;
}

.booking-summary p span{
    margin-right: 2%;
    font-weight: 300;
    color: #313140;
}



@media all and (max-width: 500px) {

    section{
        width: 96%;
    }

    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    .card {
        min-width: 80%;
    }

    .card:hover {
        transform: scale(0.9, 0.9);
    }
}

@media screen and (max-width: 600px) {
    body {
        min-width: 470px;
        width: 100%;
    }

    section {
        margin: 3%;
        padding-bottom: 4%;

    }

    section h2{
        margin: 10% 0 10% 0;
    }

    .flow-buttons {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .topHeader {
        overflow: hidden;
        position: relative;
        padding: 2%;
        margin-top: 2%;
    }

    .topHeader #navMenu{
        display: none;
        width: 100%;
        float: left;
        text-align: left;
        padding: 1%;
        margin-top: 2%;
    }

   .topHeader #navMenuLogged{
        display: none;
        width: 100%;
        float: left;
        text-align: left;
        padding: 1%;
    }

    #navMenu button, #navMenuLogged button {
        max-width: 96%;
        width: 94%;
        padding: 2%;
        margin: 2% 0 2% 0;
    }

    #logoContainer {
        padding: 1%;
        margin-left: 2%;
    }

    .topHeader button, #logoContainer {
        text-decoration: none;
        font-size: 100%;
        display: block;
    }

    .topHeader button.icon {
        /*background: black;*/
        display: block;
        position: absolute;
        right: 8%;
        top: 8%;
        border-style: none;
        background: transparent;
    }




    @media screen and (max-width: 800px){
        section {
            margin-top: 4%;
        }
    }
}


