* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #F5F6F9;
    font-family: 'Open Sans', sans-serif;
}

.topHeader {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 20%;
    min-width: 500px;
}

.topHeader #logoContainer {
    max-width: 28%;
    float: left;
    padding: 2%;
}

#logoContainer img {
    width: 80%;
}

.topHeader #navMenu {
    width: 60%;
    float: right;
    text-align: right;
    display: block;
    padding: 2%;
}

.topHeader button, #logoContainer {
    padding: 1em 1em;
    text-decoration: none;
    font-size: 100%;
}

.topHeader button.icon {
    display: none;
}

button.icon {
    background: red;
}

#btnLogin, #btnSignUp {
    cursor: pointer;
    border: 0;
    /*border-radius: 4px;*/
    font-weight: 600;
    margin: 0 10px;
    width: 20%;
    padding: 10px 0;
    /*box-shadow: 0 0 20px rgba(49, 49, 64, 0.2);*/
    transition: 0.4s;
}

#btnSignUp {
    color: white;
    background-color: rgba(255, 69, 57, 1);
}

#btnLogin {
    color: rgb(255, 69, 54);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 69, 57, 1);
}

#btnLogin:hover, #btnSignUp:hover {
    color: white;
    box-shadow: 0 0 20px rgba(255, 69, 57, 0.6);
    background-color: rgba(255, 69, 57, 1);
}


@media screen and (max-width: 600px) {

    .topHeader {
        overflow: hidden;
        position: relative;

    }

    .topHeader #navMenu {
        display: none;
        width: 100%;
        float: left;
        text-align: left;
        padding: 1%;
    }

    #navMenu button {
        width: 94%;
        padding: 2%;
        margin-top: 2%;
    }

    #logoContainer {
        padding: 1%;
    }

    .topHeader button, #logoContainer {
        padding: 0.7em 0.72em;
        text-decoration: none;
        font-size: 100%;
        display: block;
    }

    .topHeader button.icon {
        /*background: black;*/
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-style: none;
        background: transparent;
    }

}


