<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="resources/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/51a3bcc63b.js" crossorigin="anonymous"></script>

    <script src="resources/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Learn4Glory</title>

</head>

<body>
<div id="vue">
    <header class="topHeader">
        <div id="logoContainer">
            <img @click="showHomepage" src="resources/logo.svg" alt="Application Logo">
        </div>

        <nav id="navMenu" v-if="!logged">
            <button id="btnLogin" @click="showLoginPage">Accedi</button>
            <button onclick="location.href='registration.html'" id="btnSignUp">Registrati</button>
        </nav>

        <nav id="navMenuLogged" v-if="logged">
            <button id="btnSearchLesson"><i class="fa fa-search" aria-hidden="true"></i> Trova una lezione</button>
            <button id="btnMyBookedLesson"><i class="fa fa-book" aria-hidden="true"></i> Le mie prenotazioni</button>
            <button id="btnLessonSummary"><i class="fa fa-calendar" aria-hidden="true"></i> Riepilogo lezioni disponibili</button>
            <button id="btnSignOut"><i class="fa fa-sign-out" aria-hidden="true"></i> Disconnetti</button>
        </nav>
        <button class="icon" onclick="openHamburgerMenu()">
            <i id="icn" class="fa fa-bars"></i>

            <!--
            <i class="fa fa-minus" aria-hidden="true"></i>
            -->
        </button>
    </header>

    <article>

        <section v-if="coursePage">
            <h2>Scegli un corso</h2>

            <div class="cards-list">
                <div @click="currentCourseSelected=course; coursePage=false; teacherOfCoursePage=true"
                     v-on:click="loadTeachersOfCourse" v-for="course in courseList" class="card">
                    <div class="card_title">
                        <p>{{course.title}}</p>
                    </div>
                </div>
            </div>

            <p>{{currentCourseSelected}}</p>
        </section>

        <section v-if="teacherOfCoursePage">
            <h2>Hai selezionato <span style="color: #FF4539">{{currentCourseSelected.title}}</span>. {{statusMsg}}</h2>
            <div class="cards-list">
                <div @click="currentTeacherSelected=teacher; " v-for="teacher in teachersOfCourse" class="card">
                    <div class="card_title">
                        <p>{{teacher.name}} - {{teacher.surname}}</p>
                    </div>
                </div>
            </div>
            <div class="flow-buttons">
                <button @click="showCoursePage" class="btn-flow btn-back">Torna ai corsi</button>
                <!-- <button class="btn-flow btn-next">Visualizza docenti</button> -->
            </div>
        </section>

        <section v-if="errorPage">
            <h2>{{statusMsg}}</h2>
            <div class="flow-buttons">
                <button @click="showCoursePage" class="btn-flow btn-back">Reload</button>
                <!-- <button class="btn-flow btn-next">Visualizza docenti</button> -->
            </div>
        </section>

        <section v-if="loginPage">

            <div id="loginForm">
                <div class="imgcontainer">
                    <img src="" alt="Avatar" class="avatar">
                </div>

                <div class="form-container">
                    <label for="loginEmail"><b>Indirizzo e-mail</b></label>
                    <input id="loginEmail" v-model="userEmail" type="email" placeholder="Indirizzo e-mail"
                           name="userEmail" pattern="[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,4}" title="latuaemail@esempio.it"
                           required>

                    <label for="loginPsw"><b>Password</b></label>
                    <input id="loginPsw" v-model="userPwd" type="password" placeholder="Password" name="psw"
                           pattern="[A-Za-z0-9]{3,6}" title="Inserisci almeno 3 caratteri" required>

                    <button @click="login" type="submit">Accedi</button>
                    <p>{{userEmail}} - {{userPwd}} - {{statusMsg}}</p>
                </div>
            </div>
        </section>

    </article>


    <footer>

    </footer>
</div>

<script src="vue.js"></script>
<!--
<script type="text/javascript">
    $(document).ready(function () { // When the DOM of this page is constructed
        $("#difettoso").click(function () {// on click of xx button do ...
            $.get("ServletDao", {}, // GET to HelloServlet (hello-servlet)!!
                function (data) {      // callBack function
                    var info = JSON.stringify(data);
                    console.log(data)
                    //alert(info);
                    $("#dati").html(); // Select element xx
                    //(by ID) and insert dynamic content (data) into it
                });
        });
    });
</script>
-->
</body>
</html>